body {
    margin: 0;
    min-height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* background layer */
body::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.4;          /* image opacity */
    filter: blur(6px);     /* image blur */

    z-index: -1;
}

.form-container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-left: 0px;
}

.form-container {
    background: rgba(255, 255, 255, 0.7);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    /* FIX */
    text-align: left;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin-left: 7px;
}

button:hover {
    background: #0056b3;
}

#responseMessage {
    text-align: center;
    margin-top: 10px;
}